
*{
    box-sizing: border-box;
    margin: 0;
}

/* La Barre de navigation*/

.navbar{

    border-radius: 5px;
    margin-bottom: 20px;

}

.navbar-brand{
    color: #999;
}

/*POST SLIDER*/

.post-slider{
    border: 1px solid red;
}

.post-slider .post-wrapper{
    border: dashed red;
}


/* Footer de la page d'accueil*/
p
{
    color: #999;
    line-height: 25px;
}

h2,h3{
    color:#f9c0c0;
}

h2{
    font-size: 18px;
}


.segment-two h2{
    color: #f9c0c0;
    text-transform: uppercase;
}

.segment-two h2:before{
    content: '|';
    color: #ccf6c8;
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li{
   border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}

.segment-two ul li a{
    color: #999;
    text-decoration: none;
}

.segment-three h2{
    color: #f9c0c0;
    text-transform: uppercase;
}

.segment-three h2:before{
    content: '|';
    color: #ccf6c8;
    padding-right: 10px;
}

.segment-three a{
    background: #ccf6c8;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-three a i{
    font-size: 20px;
    color: #f9c0c0;
    padding: 10px 12px;
}

.segment-four h2{
    color: #f9c0c0;
    text-transform: uppercase;
}

.segment-four h2:before{
    content: '|';
    color: #ccf6c8;
    padding-right: 10px;
}

.segment-four form input[type=submit]{
    background: #ccf6c8;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;
}

.bottom.footer-bottom-tex.segment-three p{
    color: #f9c0c0; !important;
}



/* Page create article*/

.titre{
    color: #f9c0c0;
    text-align: center;
}
/* Mise en forme des différentes cases couleur */
.form-control{
    border: #f9c0c0 solid 1px;

}
/*menu déroulant catégories*/
.custom-select{
    border: #f9c0c0 solid 1px;

}

/*Date et update*/
.form-row{
    margin-left: auto;
    margin-right: auto;

}

/*Text area*/
.form-group{
    margin-left: auto;
    margin-right: auto;
}

/*bouton submit*/
.btn{
    color: #f9c0c0;
    background-color: #ccf6c8;
    margin: auto;
}

.footer-bottom-text{
    background-color: #ccf6c8;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;

}


/*Responsive CSS*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    .md-mb-30{
        margin-bottom: 30px;
    }
}


/* MEDIA QUERIE */

@media only screen and (min-width: 767px) and (max-width: 991px){

    .md-mb-30{
        margin-bottom: 30px;
    }{
        margin-bottom: 30px;
    }
        .footer-top{
        padding: 50px 0;
        }
}
